@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap";
html {
  text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="button"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="reset"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

@font-face {
  font-family: Moleska;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("Moleska.b5d4535b.eot");
  src: url("Moleska.b5d4535b.eot#iefix") format("embedded-opentype"), url("Moleska.b5d4535b.eot") format("eot"), url("Moleska.287c46b5.woff2") format("woff2"), url("Moleska.997695c1.woff") format("woff"), url("Moleska.dff9bf7f.ttf") format("truetype");
}

:root {
  --logo-color: #006d75;
  --bg-color: #f9fafc;
  --border-color: #83a1a6;
  --page-bg-color: var(--bg-color);
  --text-primary-color: #002329;
  --text-contrast-color: var(--text-primary-color);
  --text-contrastOnLight-color: #32484c;
  --text-contrastOnDark-color: #83a1a6;
  --text-regular-color: #32484c;
  --text-pale-color: #83a1a6;
  --text-mute-color: #bdd2d6;
  --content-color: #bdd2d6;
  --content-bg-color: #fff;
  --content-border-color: var(--border-color);
  --control-color: #32484c;
  --control-bg-color: #fff;
  --control-border-color: #bdd2d6;
  --control-active-border-color: #83a1a6;
  --control-active-bg-color: #f8f9fa;
  --control-checked-color: #006d75;
  --control-checked-active-color: #00555c;
  --control-disabled-color: #bdd2d6;
  --control-disabled-border-color: #bdd2d6;
  --control-disabled-bg-color: #f8f9fa;
}

:root[data-theme-dark] {
  --logo-color: #fff;
  --bg-color: #32484c;
  --content-bg-color: #002329;
  --text-primary-color: #fff;
  --text-contrast-color: #83a1a6;
  --text-contrastOnLight-color: #83a1a6;
  --text-contrastOnDark-color: #bdd2d6;
  --text-regular-color: #83a1a6;
  --text-mute-color: #32484c;
  --control-color: #fff;
  --control-active-border-color: #fff;
  --control-active-bg-color: #4a6b71;
  --control-disabled-color: #4a6b71;
  --control-disabled-border-color: #32484c;
  --control-disabled-bg-color: #32484c;
}

.itemsStack {
  flex-direction: column;
  align-items: center;
  gap: 6px;
  display: flex;
}

@media screen and (width >= 576px) {
  .itemsStack {
    gap: 8px;
  }
}

@media screen and (width >= 768px) {
  .itemsStack {
    gap: 12px;
  }
}

@media screen and (width >= 992px) {
  .itemsStack {
    gap: 16px;
  }
}

.link {
  color: #006d75;
}

.u-centering {
  justify-content: center;
  align-items: center;
  display: flex;
}

.page {
  --slides-gap: 3rem;
  flex-direction: column;
  height: 100%;
  display: flex;
}

@media screen and (width >= 768px) {
  .page {
    --slides-gap: 5.75rem;
  }
}

.page_menuPanelOpened {
  overflow: hidden;
}

.page_menuPanelOpened .page__openMenuPanelBtn {
  opacity: 0;
}

.page__content {
  background: var(--page-bg-color, #f9fafc);
  padding: var(--slides-gap) 0;
  flex-grow: 1;
}

.page__title {
  color: var(--text-contrast-color, #32484c);
  margin: 0 0 2rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (width >= 768px) {
  .page__title {
    margin-bottom: 3.625rem;
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
}

.page__slide + .page__slide {
  margin-top: var(--slides-gap);
}

.layoutContainer {
  min-width: 21.4375rem;
  max-width: 69.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  display: block;
}

@media screen and (width >= 992px) {
  .layoutContainer {
    padding: 0 2rem;
  }
}

.header {
  background: var(--content-bg-color, #fff);
  border-bottom: 1px solid #bdd2d6;
}

@media screen and (width >= 768px) {
  .header {
    border-bottom-width: 2px;
  }
}

.header__panel {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 2.25rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

@media screen and (width >= 576px) {
  .header__panel {
    gap: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.header__openMenuPanelBtn {
  position: absolute;
}

.header__logo {
  color: var(--logo-color, #006d75);
  margin: 0 auto;
  font-family: Moleska;
  font-size: 3rem;
  display: inline-block;
  transform: translateY(.375rem);
}

@media screen and (width >= 576px) {
  .header__logo {
    margin: 0 0 0 3rem;
  }
}

@media screen and (width >= 768px) {
  .header__logo {
    flex: 1 0 auto;
    margin: 0;
  }
}

.header__logoIcon {
  color: var(--text-primary-color, #002329);
  width: 6.875rem;
  height: 2rem;
}

.header__menu {
  gap: 1.5rem;
  display: none;
}

@media screen and (width >= 576px) {
  .header__menu {
    display: flex;
  }
}

.header__menuItem {
  color: #83a1a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.header__menuItem_active, .header__menuItem:hover {
  color: var(--text-primary-color, #002329);
}

.header__themeToggler {
  display: none;
}

@media screen and (width >= 768px) {
  .header__themeToggler {
    display: block;
  }
}

.footer {
  text-align: center;
  background: var(--content-bg-color, #fff);
  border-top: 1px solid #bdd2d6;
  padding: 2.5rem 0;
}

@media screen and (width >= 768px) {
  .footer {
    border-top-width: 2px;
  }
}

.footer__title {
  color: var(--text-pale-color, #83a1a6);
  margin: 0;
  font-size: 1.375rem;
  font-weight: 400;
}

.footer__desc {
  max-width: 40rem;
  color: var(--text-regular-color, #002329);
  margin: 1.125rem auto 0;
  padding: 0 0 3%;
  font-size: .875rem;
  line-height: normal;
}

@media screen and (width >= 992px) {
  .footer__desc {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.menu {
  grid-auto-flow: row;
  align-content: start;
  row-gap: 2rem;
  display: grid;
}

.menu__list {
  grid-auto-flow: row;
  row-gap: .25rem;
  margin-top: 1rem;
  display: grid;
}

@media screen and (width < 768px) {
  .menu__list {
    row-gap: 1rem;
  }
}

.menu__title {
  color: var(--text-contrast-color, #002329);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

@media screen and (width < 768px) {
  .menu__title {
    color: var(--text-pale-color, #83a1a6);
  }
}

.menu__item {
  color: var(--text-contrast-color, #002329);
  font-size: .875rem;
  line-height: 1.375rem;
  text-decoration: none;
}

@media screen and (width < 768px) {
  .menu__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.menu__item_active, .menu__item:hover {
  color: #f784ad;
}

.menu__item:visited:not(.menu__item_active, :hover) {
  color: var(--text-contrast-color, #002329);
}

.menuPanel {
  display: none;
}

@media screen and (width < 768px) {
  .menuPanel {
    background: var(--page-bg-color, #f9fafc);
    z-index: 2;
    padding-top: 4rem;
    transition: transform .25s linear;
    display: block;
    position: fixed;
    inset: 0;
    transform: translateX(-100vw);
  }

  .menuPanel_opened {
    transform: translateX(0);
  }
}

.menuPanel_noTopSeparator {
  padding-top: 6.5rem;
}

@media screen and (width < 576px) {
  .menuPanel_noTopSeparator {
    padding-top: 5.5rem;
  }
}

@media screen and (width < 768px) {
  .menuPanel_forHeaderTransparent {
    background: none;
  }
}

.menuPanel__closeButton {
  cursor: pointer;
  background-color: #bdd2d6;
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: none;
  position: absolute;
  top: 2.1875rem;
  left: 1rem;
}

.menuPanel__closeButton:active {
  background: #83a1a6;
}

@media screen and (width < 576px) {
  .menuPanel__closeButton {
    top: 1.75rem;
  }
}

@media screen and (width < 768px) {
  .menuPanel__closeButton {
    display: inline-block;
  }
}

.menuPanel__closeButtonIcon {
  width: 24px;
  height: 24px;
}

.menuPanel__themeToggler {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menuPanel__themeTogglerLabel {
  color: var(--text-contrast-color, #002329);
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.menuPanel__themeTogglerBox {
  display: none;
}

@media screen and (width < 768px) {
  .menuPanel__themeTogglerBox {
    display: block;
  }

  .menuPanel_noTopSeparator .menuPanel__themeTogglerBox {
    margin-top: 0;
  }

  .menuPanel__content {
    box-sizing: border-box;
    height: 100%;
    padding: 0 1rem;
    overflow: auto;
  }

  .menuPanel_forHeaderTransparent .menuPanel__content {
    background: var(--page-bg-color, #f9fafc);
  }

  .menuPanel__contentGroup {
    border-top: 1px solid #bdd2d6;
    padding: 1.5rem 0;
  }

  .menuPanel_noTopSeparator .menuPanel__themeTogglerBox .menuPanel__contentGroup {
    border-top: 0;
  }

  .menuPanel__menu {
    display: block;
  }
}

.openMenuPanelBtn {
  cursor: pointer;
  opacity: 1;
  background-color: initial;
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  transition: opacity .25s linear;
  display: none;
}

@media screen and (width < 768px) {
  .openMenuPanelBtn {
    display: inline-block;
  }
}

.openMenuPanelBtn:hover {
  background: #bdd2d6;
}

.openMenuPanelBtn__icon {
  color: var(--text-contrast-color, #002329);
  width: 1.5rem;
  height: 1.5rem;
}

.toggler {
  position: relative;
}

.toggler__input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.toggler__state {
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.toggler__input:not(:disabled) ~ .toggler__state {
  cursor: pointer;
}

.toggler__control {
  border: 1px solid var(--control-border-color, #bdd2d6);
  box-sizing: border-box;
  text-align: left;
  border-radius: 14px;
  width: 52px;
  height: 28px;
  transition: all .5s;
}

.toggler__control:before {
  content: "";
  background: var(--control-border-color, #bdd2d6);
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 1px;
  transition: all .5s;
  display: inline-block;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  border-color: var(--control-checked-color, #006d75);
  background: var(--control-checked-color, #006d75);
}

.toggler__input:active ~ .toggler__state .toggler__control {
  border-color: var(--control-active-border-color, #83a1a6);
  background: var(--control-active-bg-color, #f8f9fa);
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  border-color: var(--control-disabled-border-color, #bdd2d6);
  background: var(--control-disabled-color, #bdd2d6);
}

.toggler__input:checked:active:not(:disabled) ~ .toggler__state .toggler__control {
  border-color: var(--control-checked-active-color, #00555c);
  background: var(--control-checked-active-color, #00555c);
}

.toggler__input:checked ~ .toggler__state .toggler__control:before {
  background: #fff;
  transform: translateX(24px);
}

.toggler__input:disabled ~ .toggler__state .toggler__control:before {
  background: var(--control-disabled-bg-color, #bdd2d6);
}

.toggler__input:active:not(:checked) ~ .toggler__state .toggler__control:before {
  background: var(--control-active-border-color, #83a1a6);
}

.toggler__title {
  color: var(--control-color, #32484c);
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}

.toggler__icon {
  color: var(--text-pale-color, #83a1a6);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.toggler__icon_contrast_onLight {
  color: var(--text-contrastOnLight-color);
}

.toggler__icon_contrast_onDark {
  color: var(--text-contrastOnDark-color);
}

html, body {
  height: 100%;
}

body {
  color: #002329;
  font-family: Inter, sans-serif;
  font-weight: 400;
  animation: 1s ease-in-out fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.jumbotron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
  display: flex;
}

@media screen and (width >= 768px) {
  .jumbotron {
    flex-direction: row;
    gap: 2.5rem;
    padding: 0 1.5rem;
  }
}

@media screen and (width >= 992px) {
  .jumbotron {
    gap: 3rem;
    padding: 0 2rem;
  }
}

@media screen and (width < 768px) {
  .jumbotron__pictureBox {
    transform: translateX(-.6rem);
  }
}

.jumbotron__picture {
  width: 10rem;
  height: 12.963rem;
}

@media screen and (width >= 768px) {
  .jumbotron__picture {
    width: 12rem;
    height: 15.5rem;
  }
}

@media screen and (width >= 992px) {
  .jumbotron__picture {
    width: 15.1875rem;
    height: 19.6875rem;
  }
}

.jumbotron__textBox {
  text-align: center;
}

@media screen and (width >= 768px) {
  .jumbotron__textBox {
    text-align: left;
    transform: translateY(-1rem);
  }
}

@media screen and (width >= 992px) {
  .jumbotron__textBox {
    transform: translateY(-1.25rem);
  }
}

.jumbotron__title {
  color: var(--text-primary-color, #002329);
  margin: 0 0 1rem;
  font-size: 1.75rem;
  font-weight: 600;
}

@media screen and (width >= 768px) {
  .jumbotron__title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

@media screen and (width >= 992px) {
  .jumbotron__title {
    margin-bottom: 2rem;
    font-size: 2.625rem;
  }
}

.jumbotron__desc {
  color: var(--text-regular-color, #002329);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (width >= 768px) {
  .jumbotron__desc {
    font-size: 1.25rem;
  }
}

@media screen and (width >= 992px) {
  .jumbotron__desc {
    font-size: 1.5rem;
  }
}

.formField {
  flex-direction: column;
  align-items: flex-start;
  gap: .31em;
  font-size: 16px;
  display: flex;
}

.formField__title {
  color: #83a1a6;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  letter-spacing: .03em;
  font-size: .75em;
  font-weight: 600;
  line-height: 1.13;
  display: inline-block;
}

.formField__title:has( + .formField__field .formField__control:disabled) {
  cursor: default;
}

.formField__field {
  position: relative;
}

.formField__field_fullWidth {
  width: 100%;
}

.formField__icon {
  width: 1.5em;
  height: 1.5em;
  display: none;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

.formField_validity_error .formField__icon_error {
  color: #f03d3e;
  display: inline-block;
}

.formField_validity_success .formField__icon_success {
  color: #389e0d;
  display: inline-block;
}

.formField__status {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.2;
}

.formField_validity_error .formField__status {
  color: #f03d3e;
}

.formField_validity_success .formField__status {
  color: #389e0d;
}

.formField_disabled .formField__status {
  color: var(--text-mute-color, #bdd2d6);
}

.formField_validity_error .formField__control_type_textInput, .formField_validity_error .formField__control_type_textInput:focus {
  border-color: #f03d3e;
}

.formField_validity_success .formField__control_type_textInput, .formField_validity_success .formField__control_type_textInput:focus {
  border-color: #389e0d;
}

.checkbox {
  display: inline-block;
  position: relative;
}

.checkbox__input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.checkbox__state {
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.checkbox__input:not(:disabled) ~ .checkbox__state {
  cursor: pointer;
}

.checkbox__control {
  border: 1px solid var(--control-border-color, #bdd2d6);
  box-sizing: border-box;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  border-color: var(--control-checked-color, #006d75);
  background: var(--control-checked-color, #006d75);
}

.checkbox__input:active ~ .checkbox__state .checkbox__control {
  border-color: var(--control-active-border-color, #83a1a6);
  background: var(--control-active-bg-color, #f8f9fa);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background-color: var(--control-disabled-border-color, #bdd2d6);
  border-color: var(--control-disabled-border-color, #bdd2d6);
}

.checkbox__input:checked:not(:disabled) ~ .checkbox__state .checkbox__control {
  animation: .5s check-animation;
}

.checkbox__input:checked:active:not(:disabled) ~ .checkbox__state .checkbox__control {
  border-color: var(--control-checked-active-color, #00555c);
  background: var(--control-checked-active-color, #00555c);
}

.checkbox__title {
  color: var(--control-color, #32484c);
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
  color: var(--control-disabled-color, #59616a);
}

.checkbox__icon {
  visibility: hidden;
  color: #fff;
  width: 15px;
  height: 13px;
  margin: auto;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  visibility: visible;
}

@keyframes check-animation {
  0% {
    box-shadow: 0 0 #bdc3c7;
  }

  100% {
    box-shadow: 0 0 0 1.5rem #bdc3c700;
  }
}

.radio {
  display: inline-block;
  position: relative;
}

.radio__input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.radio__state {
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.radio__input:not(:disabled) ~ .radio__state {
  cursor: pointer;
}

.radio__control {
  border: 1px solid var(--control-border-color, #bdd2d6);
  box-sizing: border-box;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
}

.radio__control:before {
  content: "";
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: auto;
  display: inline-block;
}

.radio__input:checked ~ .radio__state .radio__control {
  border-width: 2px;
  border-color: var(--control-checked-color, #006d75);
}

.radio__input:active ~ .radio__state .radio__control {
  border-color: var(--control-active-border-color, #83a1a6);
  background: var(--control-active-bg-color, #f8f9fa);
}

.radio__input:disabled ~ .radio__state .radio__control {
  border-color: var(--control-disabled-border-color, #bdd2d6);
  background: var(--control-disabled-border-color, #bdd2d6);
}

.radio__input:checked:active:not(:disabled) ~ .radio__state .radio__control {
  border-color: var(--control-checked-active-color, #00555c);
}

.radio__input:checked ~ .radio__state .radio__control:before {
  background: var(--control-checked-color, #006d75);
}

.radio__input:checked:disabled ~ .radio__state .radio__control:before {
  background: var(--control-disabled-color, #59616a);
}

.radio__input:checked:active:not(:disabled) ~ .radio__state .radio__control:before {
  background: var(--control-checked-active-color, #00555c);
}

.radio__title {
  color: var(--control-color, #32484c);
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.radio__input:focus ~ .radio__state .radio__title {
  text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__title {
  color: var(--control-disabled-color, #59616a);
}

.textInput {
  border: 1px solid var(--control-border-color, #bdd2d6);
  box-sizing: border-box;
  color: var(--text-contrast-color, #32484c);
  background-color: #0000;
  border-radius: .4em;
  outline: none;
  padding: .85em 2.4em .65em 1.2em;
  font-size: 1.25em;
  line-height: 1.3em;
  transition: border-color .3s;
}

.textInput::placeholder {
  color: var(--text-mute-color, #bdd2d6);
}

.textInput:disabled {
  color: var(--control-disabled-color, #59616a);
  background-color: var(--control-disabled-bg-color, #f8f9fa);
  border-color: var(--control-disabled-border-color, #bdd2d6);
}

.textInput:focus {
  border-color: var(--control-checked-color, #006d75);
}

.textInput_compact {
  padding: .5em 2.4em .4em 1.2em;
}

.textInput_fullWidth {
  width: 100%;
}

.tabs__nav {
  gap: 24px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

@media screen and (width >= 768px) {
  .tabs__nav {
    gap: 40px;
  }
}

.tabs__content {
  display: none;
}

.tabs__tabControl[class~="&__tabControl_allTabs"]:checked ~ .tabs__content {
  display: block;
}

.tabs__tabControl {
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.tabs__tabTitle {
  color: var(--text-pale-color, #83a1a6);
  cursor: pointer;
  user-select: none;
  border-bottom: 5px solid #0000;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
}

.tabs__tabTitle:hover {
  color: var(--text-primary-color, #32484c);
}

.tabs__tabControl[class~="tabs__tabControl_allTabs"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_allTabs"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_1"]:checked ~ .tabs__content[class~="tabs__content_tabNum_1"] {
  display: block;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_1"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_tabNum_1"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_2"]:checked ~ .tabs__content[class~="tabs__content_tabNum_2"] {
  display: block;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_2"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_tabNum_2"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_3"]:checked ~ .tabs__content[class~="tabs__content_tabNum_3"] {
  display: block;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_3"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_tabNum_3"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_4"]:checked ~ .tabs__content[class~="tabs__content_tabNum_4"] {
  display: block;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_4"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_tabNum_4"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_5"]:checked ~ .tabs__content[class~="tabs__content_tabNum_5"] {
  display: block;
}

.tabs__tabControl[class~="tabs__tabControl_tabNum_5"]:checked ~ .tabs__nav .tabs__tabTitle[class~="tabs__tabTitle_tabNum_5"] {
  color: var(--text-primary-color, #002329);
  border-bottom-color: var(--text-primary-color, #002329);
  cursor: default;
}

.form__cols {
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  display: flex;
}

@media screen and (width >= 992px) {
  .form__cols {
    gap: 2.625rem;
  }
}

@media screen and (width >= 768px) {
  .form__cols {
    box-sizing: border-box;
    width: 100%;
    padding: .875rem;
  }
}

.form__fields {
  flex-direction: column;
  gap: .875rem;
  display: flex;
}

.form__submitButton {
  min-width: 11rem;
}

.form__fields + .form__submitButton {
  margin-top: 1.25rem;
}

.slide__card {
  --slide-card-paddings: 1rem;
  padding: var(--slide-card-paddings);
  box-sizing: border-box;
  color: inherit;
  background-color: var(--content-bg-color, #fff);
  border-radius: .5rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px #2124290d;
}

@media screen and (width >= 768px) {
  .slide__card {
    --slide-card-paddings: 1.5rem;
    border-radius: .75rem;
  }
}

@media screen and (width >= 992px) {
  .slide__card {
    --slide-card-paddings: 2rem;
  }
}

.slide__title {
  color: var(--text-primary-color, #002329);
  margin: 0 0 .75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

@media screen and (width >= 768px) {
  .slide__title {
    margin-bottom: calc(var(--slide-card-paddings)  - .5rem);
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
}

.slide__subTitle {
  margin: 0 0 calc(var(--slide-card-paddings)  - .75rem);
  color: var(--text-primary-color, #002329);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: normal;
}

@media screen and (width >= 768px) {
  .slide__subTitle {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (width < 768px) {
  .slide__tabTitle {
    border-bottom-width: 3px;
    padding-bottom: .25rem;
    font-size: .875rem;
    font-weight: 300;
  }
}

.slide__tabContent {
  padding-top: var(--slide-card-paddings);
}

.slide__tabContent:before {
  content: "";
  margin-top: calc(-1 * var(--slide-card-paddings));
  background: #bdd2d6;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
}

.slide__tabContentWrapper_preview {
  gap: var(--slide-card-paddings);
  flex-direction: column;
  display: flex;
}

@media screen and (width >= 768px) {
  .slide__tabContentWrapper_preview {
    flex-direction: row;
  }
}

.slide__tabContentWrapper_detail {
  min-height: 12rem;
}

.slide__preview {
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;
  flex: none;
  min-width: 18rem;
  min-height: 12rem;
}

@media screen and (width >= 992px) {
  .slide__preview {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }
}

.slide__preview_constrained_width {
  width: 18rem;
}

@media screen and (width < 768px) {
  .slide__preview_constrained_width {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.slide__preview_constrained_height {
  height: 12rem;
}

@media screen and (width < 768px) {
  .slide__preview_constrained_height {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.slide__previewWrapper {
  margin: auto;
  position: relative;
}

.slide__previewWrapper_fullWidth {
  width: 100%;
}

.slide__previewWrapper_fullSize {
  width: 100%;
  height: 100%;
}

.slide__desc {
  color: var(--text-regular-color, #002329);
  font-size: .875rem;
  font-weight: 300;
}

@media screen and (width >= 992px) {
  .slide__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.slide__detail {
  color: var(--text-contrast-color, #002329);
  font-size: 1rem;
}

.slide__detail_columns {
  flex-direction: column;
  gap: 1em;
  display: flex;
}

@media screen and (width >= 576px) {
  .slide__detail_columns {
    flex-direction: row;
  }
}

.slide__detail + .slide__detail {
  margin-top: 1em;
}

.slide__detailColumn {
  flex-direction: column;
  gap: 1em;
  display: flex;
}

.slide__detailColumn_fullWidth {
  flex-grow: 1;
}

.accordion {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.accordion_compact {
  font-size: 9px;
}

@media screen and (width >= 576px) {
  .accordion_compact {
    font-size: 11px;
  }
}

@media screen and (width >= 768px) {
  .accordion_compact {
    font-size: 12px;
  }
}

@media screen and (width >= 1175px) {
  .accordion_compact {
    font-size: 13px;
  }
}

.accordion_fullWidth {
  width: 100%;
}

.accordion__item {
  border: 1px solid var(--content-border-color, #83a1a6);
  background: var(--content-bg-color, #fff);
  border-radius: .5em;
}

.accordion__item:not(:last-child) {
  margin-bottom: .5em;
}

.accordion__itemSummary {
  color: var(--text-primary-color, #002329);
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  gap: .63em;
  padding: 1.5em 2em;
  display: flex;
}

.accordion__item[open] .accordion__itemSummary {
  padding-bottom: 1em;
}

.accordion__itemSummaryMarker {
  color: var(--text-regular-color, #32484c);
  flex-shrink: 0;
  width: 1em;
  height: .5em;
  display: inline-block;
}

.accordion__item[open] .accordion__itemSummaryMarker {
  transform: rotate(180deg);
}

.accordion__itemDetails {
  color: var(--text-regular-color, #32484c);
  margin: 0;
  padding: 0 2em 2em;
}

.modal {
  z-index: 1;
  background: #32484c80;
  display: none;
  position: fixed;
  inset: 0;
}

.modal_opened {
  display: block;
  position: absolute;
}

.modal_noViel {
  background: none;
}

.modal__window {
  background: var(--content-bg-color, #fff);
  box-sizing: border-box;
  border-radius: 8px;
  width: 90%;
  min-width: 304px;
  padding: 30px 40px 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (width >= 576px) {
  .modal__window {
    width: 428px;
  }
}

.modal_compact .modal__window {
  width: 240px;
  padding: 25px;
  transform: translateX(-50%)translateY(-50%)scale(.6);
}

@media screen and (width >= 768px) {
  .modal_compact .modal__window {
    padding: 30px 40px 33px;
  }
}

.modal__title {
  color: var(--text-contrast-color, #32484c);
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.modal__content {
  color: var(--text-regular-color, #32484c);
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.modal__title + .modal__content {
  margin-top: 14px;
}

.modal__closeButton {
  cursor: pointer;
  color: var(--text-contrast-color, #32484c);
  background-color: #0000;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal__closeButtonIcon {
  width: 16px;
  height: 16px;
}

.button {
  box-sizing: border-box;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: 0;
  border-radius: .5em;
  padding: .94em .94em .88em;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  transition: transform .2s linear;
}

.button:active {
  transform: translateY(1px);
}

.button:disabled {
  opacity: .5;
  pointer-events: none;
}

.button_var_primary {
  color: #fff;
  background-color: #006d75;
}

.button_var_primary:hover, .button_var_primary:active {
  background: #00555c;
}

.button_var_secondary {
  color: #fff;
  background-color: #7a0093;
}

.button_var_secondary:hover, .button_var_secondary:active {
  color: #fff;
  background-color: #f23c7d;
}

.button_var_alternate {
  border: 1px solid var(--text-pale-color, #83a1a6);
  color: var(--text-regular-color, #32484c);
  background-color: #0000;
}

.button_var_alternate:hover, .button_var_alternate:active {
  color: var(--text-contrast-color, #002329);
  background-color: initial;
  border-color: var(--text-primary-color, #002329);
}

.button_fullWidth {
  width: 100%;
}

.button_width_150 {
  width: 150px;
}

.button_width_200 {
  width: 200px;
}

.button_width_250 {
  width: 250px;
}

.button_width_300 {
  width: 300px;
}

.tooltip {
  vertical-align: baseline;
  color: var(--text-contrast-color, #002329);
  display: inline-block;
  position: relative;
}

.tooltip_opened {
  text-align: center;
}

.tooltip__trigger {
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip__bubble {
  --tb-color: var(--text-contrast-color, $ black);
  text-align: center;
  color: #bdd2d6;
  background-color: var(--tb-color, #002329);
  border-radius: .625rem;
  max-width: 8rem;
  min-height: 1.5rem;
  padding: .75rem 1.25rem;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  display: none;
  box-shadow: 0 2px 4px #2124290d;
}

.tooltip__bubble:after {
  content: "";
}

.tooltip__bubble_primary {
  --tb-color: #006d75;
}

.tooltip__bubble_pos_top {
  position: absolute;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__bubble_pos_top:after {
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: var(--tb-color, #002329) transparent transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__bubble_pos_bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__bubble_pos_bottom:after {
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent var(--tb-color, #002329);
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__bubble_pos_left {
  position: absolute;
  top: 50%;
  right: calc(100% + 7px);
  transform: translateY(-50%);
}

.tooltip__bubble_pos_left:after {
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent var(--tb-color, #002329);
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip__bubble_pos_right {
  position: absolute;
  top: 50%;
  left: calc(100% + 7px);
  transform: translateY(-50%);
}

.tooltip__bubble_pos_right:after {
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-color: transparent var(--tb-color, #002329) transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
}

.tooltip_opened .tooltip__bubble, .tooltip__trigger:hover ~ .tooltip__bubble {
  display: block;
}
/*# sourceMappingURL=bem-comps-lib.8c1c22dc.css.map */
