@use '../../../css/vars' as *;
@use '../../../css/utils';

.menuPanel {
  display: none;

  @media (--layout-df-md) {
    display: block;
    padding-top: 4rem;
    background: var(--page-bg-color, $grey-0);
    transform: translateX(-100vw);
    transition: transform 0.25s linear;

    @include utils.box-covering(fixed, 2);
  }

  &_opened {
    @media (--layout-df-md) {
      transform: translateX(0);
    }
  }

  &_noTopSeparator {
    padding-top: 6.5rem;

    @media (--layout-df-sm) {
      padding-top: 5.5rem;
    }
  }

  &_forHeaderTransparent {
    @media (--layout-df-md) {
      background: transparent;
    }
  }

  &__closeButton {
    display: none;
    cursor: pointer;

    @include utils.position(2.1875rem, null, null, 1rem);
    @include utils.reset-geometry(true);
    @include utils.circled(2rem, $grey-2);

    &:active {
      background: $grey-3;
    }

    @media (--layout-df-sm) {
      top: 1.75rem;
    }

    @media (--layout-df-md) {
      display: inline-block;
    }
  }

  &__closeButtonIcon {
    @include utils.size(24px);
  }

  &__themeToggler {
    @include utils.box-aligning;
  }

  &__themeTogglerLabel {
    color: var(--text-contrast-color, $black);

    @include utils.text-interactive;
    @include utils.font-def;
  }

  &__themeTogglerBox {
    display: none;

    @media (--layout-df-md) {
      display: block;
    }
  }

  &_noTopSeparator &__themeTogglerBox {
    @media (--layout-df-md) {
      margin-top: 0;
    }
  }

  &__content {
    @media (--layout-df-md) {
      padding: 0 1rem;
      overflow: auto;
      height: 100%;
      box-sizing: border-box;
    }
  }

  &_forHeaderTransparent &__content {
    @media (--layout-df-md) {
      background: var(--page-bg-color, $grey-0);
    }
  }

  &__contentGroup {
    @media (--layout-df-md) {
      padding: 1.5rem 0;
      border-top: 1px solid $grey-2;
    }
  }

  &_noTopSeparator &__themeTogglerBox &__contentGroup {
    @media (--layout-df-md) {
      border-top: 0;
    }
  }

  &__menu {
    @media (--layout-df-md) {
      display: block;
    }
  }
}
