@use '../../../css/vars' as *;
@use '../../../css/utils';

.header {
  border-bottom: 1px solid $grey-2;
  background: var(--content-bg-color, $white);

  @media (--layout-mf-md) {
    border-bottom-width: 2px;
  }

  &__panel {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include utils.box-aligning(2.25rem);

    @media (--layout-mf-sm) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      gap: 3.5rem;
    }
  }

  &__openMenuPanelBtn {
    position: absolute;
  }

  &__logo {
    display: inline-block;
    margin: 0 auto;
    color: var(--logo-color, $color-primary);
    transform: translateY(0.375rem);

    @include utils.font(3rem, null, null, $font-accent-family);

    @media (--layout-mf-sm) {
      margin: 0 0 0 3rem;
    }

    @media (--layout-mf-md) {
      margin: 0;
      flex: 1 0 auto;
    }
  }

  &__logoIcon {
    color: var(--text-primary-color, $black);

    @include utils.size(6.875rem, 2rem);
  }

  &__menu {
    display: none;
    gap: 1.5rem;

    @media (--layout-mf-sm) {
      display: flex;
    }
  }

  &__menuItem {
    color: $grey-3;
    text-decoration: none;

    @include utils.font-def;

    &_active,
    &:hover {
      color: var(--text-primary-color, $black);
    }
  }

  &__themeToggler {
    display: none;

    @media (--layout-mf-md) {
      display: block;
    }
  }
}
