@use 'sass:color';
@use 'sass:map';

$white: #fff;
$black: #002329;
$cyan: #006d75;
$cyan-lighter: color.adjust($cyan, $lightness: 10%, $hue: -5deg);
$cyan-darker: color.adjust($cyan, $lightness: -5%);
$pink: #f784ad;
$pink-darker: color.adjust($pink, $lightness: -15%);
$green: #389e0d;
$red: #f03d3e;
$violet: #7a0093;
$orange: #d46b08;
$grey-0: #f9fafc;
$grey-1: #f8f9fa;
$grey-2: #bdd2d6;
$grey-3: #83a1a6;
$grey-4: #32484c;
$grey-4-lighter: color.adjust($grey-4, $lightness: 12%);

$color-error: $red;
$color-success: $green;
$color-notify: $pink;
$color-primary: $cyan;
$color-secondary: $violet;
$color-alternate: $orange;
$color-primary-active: $cyan-darker;
$color-secondary-active: $pink-darker;

$rem-size: 16px;

$font-size-def: $rem-size;
$line-height-def: 1.5;
$font-weights: (
  thin: 100,
  light: 200,
  semilight: 300,
  regular: 400,
  medium: 600,
  semibold: 700,
  bold: 800,
  thick: 900,
);
$font-weight-def: map.get($font-weights, regular);
$font-weight-lighter: map.get($font-weights, semilight);
$font-weight-bolder: map.get($font-weights, medium);
$font-weight-bold: $font-weight-bolder;

$font-accent-family: 'Moleska';
$font-txt-family: 'Inter';

$font-default-family: $font-txt-family, sans-serif;

$layout-breakpoints: (
  min: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1175px,
);
