/* stylelint-disable custom-property-pattern */
@use 'vars' as *;
@use 'utils';

:root {
  --bg-color: #{$grey-0};
  --border-color: #{$grey-3};
  --page-bg-color: var(--bg-color);

  --text-primary-color: #{$black};
  --text-contrast-color: var(--text-primary-color);
  --text-contrastOnLight-color: #{$grey-4};
  --text-contrastOnDark-color: #{$grey-3};
  --text-regular-color: #{$grey-4};
  --text-pale-color: #{$grey-3};
  --text-mute-color: #{$grey-2};

  --content-color: #{$grey-2};
  --content-bg-color: #{$white};
  --content-border-color: var(--border-color);

  --control-color: #{$grey-4};
  --control-bg-color: #{$white};
  --control-border-color: #{$grey-2};
  --control-active-border-color: #{$grey-3};
  --control-active-bg-color: #{$grey-1};
  --control-checked-color: #{$color-primary};
  --control-checked-active-color: #{$color-primary-active};
  --control-disabled-color: #{$grey-2};
  --control-disabled-border-color: #{$grey-2};
  --control-disabled-bg-color: #{$grey-1};
}

// FIXME temporary
.previewCard {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(33 36 41 / 5%);
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;

  @include utils.color(inherit, var(--content-bg-color, $white));

  @media (--layout-mf-md) {
    border-radius: 12px;
  }

  @media (--layout-mf-lg) {
    padding: 32px;
  }

  &__placeholder {
    height: 177px;
    padding: 8px;
    margin: -8px -8px 0;
    border-bottom: 1px solid var(--text-mute-color, $grey-2);
    box-sizing: border-box;

    @include utils.box-centering;

    @media (--layout-mf-sm) {
      height: 222px;
    }

    @media (--layout-mf-lg) {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }

    &_noPaddings {
      padding: 0;
    }

    &_noBorder {
      border-bottom: 0;
    }
  }

  &__preview {
    margin: auto;
    position: relative;

    &_fullWidth {
      width: 100%;
    }

    &_fullSize {
      @include utils.size(100%);
    }

    &_scaledForMobile {
      transform: scale(0.6);

      @media (--layout-mf-sm) {
        transform: scale(0.8);
      }

      @media (--layout-mf-md) {
        transform: scale(0.9);
      }

      @media (--layout-mf-lg) {
        transform: scale(1);
      }
    }
  }

  &__title {
    margin: 12px 0 0;
    text-align: center;
    color: var(--text-contrast-color, $black);

    @include utils.font(16px, normal, $font-weight-def, Roboto);

    @media (--layout-mf-lg) {
      @include utils.font(21px, false, $font-weight-bolder);
    }
  }

  &__desc {
    margin: 4px 0;
    text-align: center;
    color: var(--text-pale-color, $grey-3);

    @include utils.font(14px, normal, false, Roboto);

    @media (--layout-mf-lg) {
      margin: 6px 0 0;
      color: $grey-4;

      @include utils.font(16px, normal);
    }
  }
}

.tileList {
  --tiles-gap: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--tiles-gap);
  // gap on right side compensation
  margin-right: calc(-1 * var(--tiles-gap));

  @media (--layout-mf-lg) {
    --tiles-gap: 30px;
  }

  &__item {
    width: max(164px, calc(50% - var(--tiles-gap)));
    font-size: 1rem;

    @media (--layout-mf-md) {
      width: min(350px, calc(33.33% - var(--tiles-gap)));
    }
  }
}

.compPreviews {
  &__tabs {
    margin-top: -62px;

    @media (--layout-mf-md) {
      margin-top: -63px;
    }
  }

  &__tabContent {
    padding-top: 16px;
    color: var(--text-contrast-color, $black);

    @media (--layout-mf-lg) {
      padding-top: 32px;
    }

    @media (--layout-mf-xl) {
      padding-top: 68px;
    }
  }

  &__loadMoreBtn {
    width: 182px;
    display: block;
    margin: 64px auto 0;
  }
}

.componentDetail {
  color: var(--text-contrast-color, $black);
  font-size: 16px;

  &__tabs {
    --tabs-padding-top: 1.5em;

    margin-top: 2.25em;

    @media (--layout-mf-sm) {
      --tabs-padding-top: 2em;

      margin-top: 2em;
    }

    @media (--layout-mf-md) {
      --tabs-padding-top: 3em;

      margin-top: 3em;
    }
  }

  &__tabs &__tabContent {
    padding-top: var(--tabs-padding-top);
  }

  &__tabs &__tabContent::before {
    content: '';
    display: block;
    background: $grey-2;
    margin-top: calc(-1 * var(--tabs-padding-top));

    @include utils.position(null, null, null, 0);
    @include utils.size(100%, 1px);
  }

  &__component {
    &_columns {
      @include utils.box-stack(1em);

      @media (--layout-mf-sm) {
        flex-direction: row;
      }
    }

    & + & {
      margin-top: 1em;
    }
  }

  &__componentColumn {
    @include utils.box-stack(1em);

    &_fullWidth {
      flex-grow: 1;
    }
  }
}

.itemsStack {
  @include utils.box-stack(6px, center);

  @media (--layout-mf-sm) {
    gap: 8px;
  }

  @media (--layout-mf-md) {
    gap: 12px;
  }

  @media (--layout-mf-lg) {
    gap: 16px;
  }
}

.link {
  color: $color-primary;
}
