@use 'vars' as *;
@use 'utils';
@use '../components/layout/page/page';
@use '../components/layout/layoutContainer/layoutContainer';
@use '../components/layout/header/header';
@use '../components/layout/footer/footer';
@use '../components/layout/menu/menu';
@use '../components/layout/menuPanel/menuPanel';
@use '../components/layout/openMenuPanelBtn/openMenuPanelBtn';
@use '../components/lib/toggler/toggler';

html,
body {
  height: 100%;
}

body {
  color: $black;
  animation: fade-in 1s ease-in-out;

  @include utils.font(null, null, $font-weight-def, $font-default-family);

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
