@use '../../../css/vars' as *;
@use '../../../css/utils';

.form {
  &__cols {
    @include utils.box-aligning(14px);

    @media (--layout-mf-lg) {
      gap: 2.625rem;
    }

    @media (--layout-mf-md) {
      padding: 0.875rem;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__fields {
    @include utils.box-stack(0.875rem);
  }

  &__field {
    // ...
  }

  &__submitButton {
    min-width: 11rem;
  }

  &__fields + &__submitButton {
    margin-top: 1.25rem;
  }
}
