@use '../../../css/vars' as *;
@use '../../../css/utils';

.menu {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2rem;
  align-content: start;

  &__list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    margin-top: 1rem;

    @media (--layout-df-md) {
      row-gap: 1rem;
    }
  }

  &__title {
    color: var(--text-contrast-color, $black);
    margin: 0;

    @include utils.font(1.25rem, 1.625rem, $font-weight-def);

    @media (--layout-df-md) {
      color: var(--text-pale-color, $grey-3);
    }
  }

  &__item {
    color: var(--text-contrast-color, $black);
    text-decoration: none;

    @include utils.font(0.875rem, 1.375rem);

    @media (--layout-df-md) {
      @include utils.font-def;
    }

    &_active,
    &:hover {
      color: $color-notify;
    }
  }

  &__item:visited:not(&__item_active, :hover) {
    color: var(--text-contrast-color, $black);
  }
}
