@use '../../../css/vars' as *;
@use '../../../css/utils';

.footer {
  padding: 2.5rem 0;
  text-align: center;
  border-top: 1px solid $grey-2;
  background: var(--content-bg-color, $white);

  @media (--layout-mf-md) {
    border-top-width: 2px;
  }

  &__title {
    margin: 0;
    color: var(--text-pale-color, $grey-3);

    @include utils.font(1.375rem, false, $font-weight-def);
  }

  &__desc {
    padding: 0 0 3%;
    margin: 1.125rem auto 0;
    max-width: 40rem;
    color: var(--text-regular-color, $black);

    @include utils.font(0.875rem, normal);

    @media (--layout-mf-lg) {
      margin-top: 2rem;

      @include utils.font-def;
    }
  }
}
